# ==============================================================================
# VICKY-SHOP BACKEND - VARIABLES D'ENVIRONNEMENT (RENDER & LOCAL)
# ==============================================================================

# Environnement d'exécution (development | production)
NODE_ENV=development

# Port d'écoute du serveur HTTP (Render fournit automatiquement la variable PORT en production)
PORT=5000

# Sécurité & Autorisations CORS
# Séparez les URLs de votre frontend par des virgules (sans slash final)
# Exemple en production Render : http://localhost:5173,http://127.0.0.1:5500,https://mon-frontend.vercel.app
ALLOW_ORIGINS=http://localhost:3000,http://127.0.0.1:5500,http://localhost:5173,http://127.0.0.1:5173

# Base de données MongoDB
# En local : mongodb://127.0.0.1:27017/vickyshop_db
# Sur Render (Production) : mongodb+srv://<username>:<password>@cluster0.mongodb.net/vickyshop_db?retryWrites=true&w=majority
MONGODB_URI=mongodb://127.0.0.1:27017/vickyshop_db

# Authentification JWT
JWT_SECRET=vicky_shop_ultra_secure_jwt_token_secret_key_2026_abidjan
JWT_EXPIRES_IN=7d

# Paramètres Boutique (Devise & Livraison)
CURRENCY=FCFA
FREE_SHIPPING_THRESHOLD=50000
DEFAULT_SHIPPING_COST=2000
